
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  
  //flex-direction: column;
}



footer {
  

    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color:#000000;
    color:white;
    text-align: center;

}



.row {
  height: 100vh;
}

.cell {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  float: right;
  width: 50%;
}


.cell-blue {
  margin-top:0;
  height: calc(100vh / 3);
}

.cell-green {
  padding-bottom: 50px;
  height: calc(2 * 100vh / 3);
}
.container-fluid {
	overflow: hidden; 
}

.login{
  margin-right:10px;
}
.align-right {
  text-align: right;
  border: 0;
  margin-right: 0;
  
}
.img-fluid{
  max-width: 100%;;
  height: 60px ;
}


.css1{
  background-color:yellow;
  font-size:50px;
  font-family: georgia;
  font-style:italic;
  font-weight:bold;
  color:purple;
  text-shadow: 2px 2px 8px #FF0000;
}

.css2{
  color:blue;
  background-color:lightpink;
  font-size:30px;
  font-family: Leelawadee UI Semilight;
  font-style:italic;
  font-weight:600;
  letter-spacing: 3px;
}

.css3{
  background-color:rgb(159, 233, 243);
  border: 5px solid;
  border-radius: 10px;
}

.css4{
  color:rgb(146, 3, 101);
  font-style: italic;
  font-family: Georgia;
  font-weight:bold;
  word-spacing:2px;
}
